[Unit]
Description=Vlmcsd (KMS Emulator in C)
After=network.target

[Service]
Type=simple
User=vlmcsd
Group=vlmcsd
ExecStart=/usr/bin/vlmcsd -i /etc/vlmcsd/vlmcsd.ini -D

[Install]
WantedBy=multi-user.target
